version: "3.9"

services:
  backend:
    build:
      context: .
    ports:
      - "8080:8080"
  motioncanvas:
    build:
      context: ./motion-canvas
    environment:
      - VITE_BACKEND_URL=http://backend:8080
    ports:
      - "5173:5173"
    depends_on:
      - backend

